#navbar-container {
    position: fixed;
    display: table;
    table-layout: fixed;
    background: #fff;
    letter-spacing: 0.1em;
    height: 80px;
    width: 1440px;
    z-index: 1;
}

#navbar-container 
.nav-menu li a {
    position: relative;
    display: inline-block;
    font-family: Josefin, sans-serif;
    font-size: 17px;
    font-weight: 900;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: color ease .2s;
}

#navbar-container .nav-menu li#menu-item-1:hover a {
    color: #ffdf23 !important;
}
#navbar-container .nav-menu li#menu-item-2:hover a {
    color: #ff0059 !important;
}
#navbar-container .nav-menu li#menu-item-3:hover a {
    color: #ff5900 !important;
}
#navbar-container .nav-menu li#menu-item-4:hover a {
    color: #8e8eff !important;
}
#navbar-container .nav-menu li#menu-item-5:hover a {
    color: #017a01 !important;
}
#navbar-container .nav-menu li#menu-item-6:hover a {
    color: #51ffc2 !important;
}

header { 
    height: 80px; 
    text-align: center;
}

body {
    color: black;
    width: 1425px;
    height: 698px;
}

#ceiling {
    position: relative;
    height: 0;
    width: 100%;
    overflow: visible;
}

#wrap {
    display: inline;
    margin: 0 auto;
    width: 92%;
    max-width: 1140px;
}

#navbar-container .clearfix {
    width: 1425px;
    height: 80px;
}

#wrap:after, 
header:after {
    clear: both;
}

#nav-left.clearfix,
#nav-right.clearfix {
    width: 570px;
    height: 80px;
}

#nav-left {
    float: left;
    width: 50%;
    text-align: right;
    padding-right:175px;
}

#nav-right {
    float: right;
    width: 50%;
    text-align: left;
    padding-left:175px;
}

#navbar-container 
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-container 
.nav-menu li {
    display: inline;
}

#navbar-container 
.nav-menu li a {
    line-height: 84px;
    padding: 0 15px;
}

#navbar-container .nav-menu {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#logo {
    float: left;
    position: relative;
    height: 60px;
    width: auto;
    padding: 0 50px 0 50px;
    max-width: 340px;
    max-height: 80px;
}

#logo a {
    display: block;
    position: relative;
}

#logo a img {
    padding: .3rem;
    height: auto;
}

#logo a .logo-light {
    display: none
}
  
#logo a:hover .logo-light {
    display: inline
}
  
#logo a:hover .logo-dark {
    display: none
}

#wrap:after,
header:after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 6px;
    top: 100%;
    display: block;
    text-decoration: none;
    color: transparent;
    background: url(img/nav-line.gif) 50% 50%;
}

#video-container {
    display: flex;
    height: 706px; 
    width: 1440px;
    background-color: black;
}

#video-container video {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}